/* CSS 주석*/

/* Element Selector (Tag Selector)*/
body {
  /*글자의 굵기 조정 (100~900) 100단위 조절 가능 기본값 400*/
  font-weight: 100;
}

div {
  /*글자 색상*/
  color: #00f;
  /*글자 크기 조정
    단위: px, pt, rem, em*/
  font-size: 2rem;
  /*박스의 배경색 조정*/
  background-color: #ff0;
}
