* {
  box-sizing: border-box;
}

.menu-bar {
  size: 800px;
  font-size: 0px;

  border-top: 1px solid #000;
  margin: 0 auto;
}

.menu-title {
  display: inline-block;
  font-weight: 600;
  font-size: 1rem;
  margin-right: 19px;
  vertical-align: middle;
}

.menu-item {
  display: inline-block;
  margin: 0 0.2rem;
  border: 1px solid #f3f3f3;
  background-color: #fff;
  border-radius: 1rem;
  padding: 4px 10px;
  color: #666;
  font-size: 1rem;
  font-weight: 600;
  vertical-align: middle;
}

.comment {
  text-align: center;
  font-size: 0.9rem;
  margin: 30px 0;
}

.content {
  width: 80%;
}
.photo-content {
  display: inline-block;
  width: 20%;
  font-size: 1rem;
  margin: 10px 5px;
  border-radius: 10px;
}

.photo {
  padding: 30px 35%;
  border-radius: 10px;
  background-color: #fafafa;
  margin: 2px 0;
}
.title {
  font-size: 0.8rem;
  margin: 2px 0;
}
.category {
  font-size: 0.8rem;
  margin: 2px 0;
  color: #ff2c2f;
}

.selected {
  color: white;
  background-color: #ff2c2f;
}
